<br/><br/>

<div class="container-fluid">
  <h2> Conheçam todos os nossos professores </h2> <br/>
  <div class="row">
    <div class="col-md-6">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">Prof.Rosana Sá</a>
      <a href="#" class="list-group-item list-group-item-action">Prof.Íris Bezerra</a>
      <a href="#" class="list-group-item list-group-item-action">Prof.Amanda Núñez</a>
      <a href="#" class="list-group-item list-group-item-action">Prof.Cesário Mesquita</a>
      <a href="#" class="list-group-item list-group-item-action">Prof.Collin Butantã</a>
      <a href="#" class="list-group-item list-group-item-action">Prof.Gui Castro</a>
      <a href="#" class="list-group-item list-group-item-action">Prof.Rafaela Batista</a>
    </div>
    </div>
    <div class="col-md-6">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Prof.Adalberto Viveiros</a>
        <a href="#" class="list-group-item list-group-item-action">Prof.Adriana Ferrão</a>
        <a href="#" class="list-group-item list-group-item-action">Prof.Hermenegildo Menezes</a>
        <a href="#" class="list-group-item list-group-item-action">Prof.Jadir Salguero</a>
        <a href="#" class="list-group-item list-group-item-action">Prof.Jordão Enríquez</a>
        <a href="#" class="list-group-item list-group-item-action">Prof.Oriana Correa</a>
        <a href="#" class="list-group-item list-group-item-action">Prof.Paulo Ipanema</a>
      </div>
    </div>
  </div>
</div>
<br/><br/>
