<div class="container-fluid">
  <h2> Conheçam todos nossos cursos </h2> <br/>
  <div class="row">
    <div class="col-md-6">
      <h4> Formação Básica </h4> <br/>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">Matemática</a>
      <a href="#" class="list-group-item list-group-item-action">Biologia</a>
      <a href="#" class="list-group-item list-group-item-action">História</a>
      <a href="#" class="list-group-item list-group-item-action">Geografia</a>
      <a href="#" class="list-group-item list-group-item-action">Português</a>
      <a href="#" class="list-group-item list-group-item-action">Física</a>
      <a href="#" class="list-group-item list-group-item-action">Química</a>
    </div>
    </div>
    <div class="col-md-6">
      <h4> Cursos Complementares </h4> <br/>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Filosofia</a>
        <a href="#" class="list-group-item list-group-item-action">Sociologia</a>
        <a href="#" class="list-group-item list-group-item-action">Educação Física</a>
        <a href="#" class="list-group-item list-group-item-action">Robótica</a>
        <a href="#" class="list-group-item list-group-item-action">Programação</a>
        <a href="#" class="list-group-item list-group-item-action">Xadrez</a>
        <a href="#" class="list-group-item list-group-item-action">Natação</a>
      </div>
    </div>
  </div>
</div>
