
<div class="cabecalho" id="header">
  <img id="banner" src="assets/banner3.jpeg" class="rounded mx-auto d-block">
</div>

<!-- Retirado da documentação do bootstrap (NavBar)-->
<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Colégio Online Mirage</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Promoções</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="<app">Contrate Já</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>
<div class="descricao" id="informacoes">
  <br />
  <h3 >Confira nossos principais cursos </h3>
  <br />
  <div class="container-fluid">
    <div class="row">
      <ul>
        <div class="col-lg-12">
          <li><h2>Matemática</h2></li>
          <br />
          <img id="apresentacao" src="assets/matematica.jpg" class="rounded mx-auto d-block">
          <br />
          <br />
          <p> É considerada uma das ciências mais aplicadas em nosso cotidiano.
            Um simples olhar ao nosso redor e notamos a sua presença nas formas, nos contornos e nas medidas.
            As operações básicas são utilizadas constantemente, e os cálculos mais complexos são concluídos
            de forma prática e adequada de acordo com princípios matemáticos
          </p>
        </div>
        <li><h2>Biologia</h2></li>
        <br />
        <div class="col-lg-12">
          <img id="apresentacao" src="assets/biologia.jpg" class="rounded mx-auto d-block">
          <br />
          <br />
          <p> A Biologia é uma ciência que estuda a vida em seus mais variados aspectos, importando-se em compreender
            , por exemplo, o funcionamento dos organismos vivos, a relação desses seres com o meio e seu processo de evolução.
            Devido a sua complexidade, a Biologia pode ser dividida em diferentes subáreas, como Biologia Celular,
            Ecologia, Paleontologia, Anatomia, Fisiologia e Evolução.
            <br />
          </p>
        </div>
        <div class="col-lg-12">
          <li><h2>História</h2></li>
          <br />
          <img id="apresentacao" src="assets/historia.jpg" class="rounded mx-auto d-block">
          <br />
          <br />
          <p> História é a ciência responsável pelo estudo dos acontecimentos passados. Esse estudo, porém, é realizado de maneira
            crítica e acompanhado por um forte apoio teórico e metodológico. Sendo assim, o trabalho do historiador consiste em realizar
            uma análise crítica do seu objeto, de forma a estruturar uma conclusão sobre os acontecimentos que estão sendo estudados.
          </p>
        </div>
        <div class="col-lg-12">
          <br />
          <li><h2>Geografia</h2></li>
          <br />
          <img id="apresentacao" src="assets/geografia.jpg" class="rounded mx-auto d-block">
          <br />
          <p> Geografia é, nos dias atuais, a ciência que estuda o espaço geográfico, produzido por meio da dinâmica das relações estabelecidas
            entre o homem e o meio. Em suma, a Geografia analisa a dinamicidade das relações entre a sociedade e a natureza, capazes de transformar
            o espaço geográfico. A maneira como essas relações são estabelecidas confere à Geografia sua identidade e importância.
          </p>
        </div>
        <div class="col-lg-12">
          <br />
          <li><h2>Português</h2></li>
          <br />
          <img id="apresentacao" src="assets/portugues.jpg" class="rounded mx-auto d-block">
          <br /><br />
          <p>
            A Língua portuguesa ou apenas português é uma língua originada no galego-português, idioma falado no Reino da Galiza e no norte de Portugal.
            Os portugueses foram os primeiros europeus a lançar-se ao mar no período das Grandes Navegações Marítimas. Em virtude dessa expansão marítima, motivada por questões comerciais,
            deu-se a difusão da língua nas terras conquistadas, entre elas, o Brasil, cuja língua primária é o português. A influência da cultura portuguesa por aqui foi tamanha que acabou
            definindo o idioma oficial da terra recém-conquistada. O mesmo aconteceu em outras partes do mundo, principalmente na África, onde países como Moçambique, Angola, Cabo Verde, Guiné Equatorial,
            Guiné-Bissau e São Tomé e Príncipe utilizam, além de vários dialetos, a língua de Camões, Fernando Pessoa e de nosso genial Machado de Assis.
          </p>
        </div>
      </ul>
    </div>
  </div>

<app-lista-cursos></app-lista-cursos>
<app-lista-professores></app-lista-professores>

<div class="container-fluid" id="footer">
  <div class="row">
    <div class="col align-self-center">

        <br /><a href="#" class="botao">Contato</a><a href="#" class="botao">Matrículas Abertas</a><br />
    </div>
  </div>
</div>
